<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=smart_toy" />
    
    <!-- favicon -->
    <link rel="icon" href="./static/image/robot.svg">

    <!-- CSS files -->
    <link rel="stylesheet" href="./static/css/bulma.min.css">
    <link rel="stylesheet" href="./static/css/index.css">

    <!-- JS  files-->
    <script src="./static/js/fontawesome.all.min.js"></script>
    <script src="./static/js/index.js"></script>
</head>